<!-- <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-3">
    <div class="card mx-2" style="width: 18rem;">
        <a routerLink="/detail/{{burger.id}}"><img src="assets/sandwich.jpg" class="card-img-top" alt=""></a>
        <div class="card-body">
            <h5 class="card-title">{{burger.nomProduit}}</h5>
            <p class="card-text">{{burger.prix}}</p>
            <div class="row">
                <div class="col-6">
                    <a routerLink="/detail/{{burger.id}}" class="btn btn-warning">Detail</a>
                </div>
                <div class="col-6">
                    <a routerLink="/detail/{{burger.id}}" class="btn   float-end "><i class="fa-solid fa-cart-shopping fs-3 text-warning panier"> </i></a>
                </div>
            </div>

        </div>
    </div>
</div> -->

<!-- <hr>
<h4 class="text-center">LES MENU DE QUALITE !!!</h4>
<hr> -->
<!-- <p>{{nombreDeproduit}}</p> -->
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-3">
    <div class="card mx-2" style="width: 18rem;">
        <a [routerLink]="['/produit',produit.id]"><img src="{{'data:image/jpg;base64,'+produit.image}}" class="card-img-top" height="200" alt="image produit"></a>
        <div class="card-body">
            <h5 class="card-title">{{produit.nomProduit}}</h5>
            <p class="card-text">{{produit.prix}}</p>
            <div class="ajout">
                <div class="">
                    <a [routerLink]="['/produit',produit.id]" class="btn btn-warning">Detail</a>
                </div>
                <div class="{{etat}}">
                    <a (click)="theProduct(produit)" class="btn   float-end "><i class="fa-solid fa-cart-shopping fs-4 panier "> </i></a>
                </div>
            </div>

        </div>
    </div>
</div>