

<div class=" container w-50 bg-secondary text-white p-3 d-flex justify-content-around align-items-center">
  <div class="bg-warning p-2">
    <h3>
     BRAZIL BURGER ATHENTIFICATION
    </h3>
    <img src="https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="PHOTO">
  </div>
  <!-- Formulaire -->
<form [formGroup]="loginForm" (ngSubmit)="seConnecter()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>   
      <p [ngClass]="{ 'has-error': isSubmitted }">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
    </p>
    <div *ngIf="isSubmitted " class="help-block">
      <div><font color="red">L'email est requis</font></div>
     

    </div>
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <p [ngClass]="{ 'has-error': isSubmitted }">
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </p>
        <div *ngIf="isSubmitted " class="help-block">
      <div><font color="red">Le mot de passe est requis</font></div>
    </div>
    </div>
    <button type="submit" class="btn btn-info">Se connecter</button>
  </form>

</div>
