<div class="d-flex justify-content-around align-items-center bg-warning py-3">
    <h3 class="text-center ">GESTION DES PRODUITS (BURGERS)</h3>
    <button routerLink="/catalogue" class="btn btn-dark mt-4" >VOIR CATALOGUE</button>
</div>
  <div class="container mt-5 bg-info p-5">
<form [formGroup]="myForm" (ngSubmit)="submit()">
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:300px">
    <div class="form-group">
        <label for="name">Nom Produit</label>
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <!-- <div *ngIf="f.name.errors.required">Name is required.</div> -->
            <!-- <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div> -->
        </div>
    </div>
    <!-- prix produit *******************************-->
    <div class="form-group">
        <label for="name">Prix Produit</label>
        <input 
            formControlName="prix"
            id="name" 
            type="number" 
            class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <!-- <div *ngIf="f.name.errors.required">Name is required.</div> -->
            <!-- <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div> -->
        </div>
    </div>


    <!-- *********************QUANTITE************************** -->
  




    <!-- ***************************************************** -->
    
    <div class="form-group">
        <label for="file">Image du produit</label>
        <input 
            formControlName="file"
            id="file" 
            type="file" 
            class="form-control"
            (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <!-- <div *ngIf="f.file.errors.required">File is required.</div> -->
        </div>
    </div>
    
   
        
    <button class="btn btn-danger mt-4" type="submit">Ajouter</button>
</form>
</div> 