<div>
    <h1 class="text-center">GESTION DES PRODUITS (BURGERS)</h1>

</div>
  <div class="container">
<form [formGroup]="myForm" (ngSubmit)="submit()">
     
    <div class="form-group">
        <label for="name">Nom Produit</label>
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <!-- <div *ngIf="f.name.errors.required">Name is required.</div> -->
            <!-- <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div> -->
        </div>
    </div>
    <!-- prix produit *******************************-->
    <div class="form-group">
        <label for="name">Prix Produit</label>
        <input 
            formControlName="prix"
            id="name" 
            type="number" 
            class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <!-- <div *ngIf="f.name.errors.required">Name is required.</div> -->
            <!-- <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div> -->
        </div>
    </div>


    <!-- *********************QUANTITE************************** -->
  




    <!-- ***************************************************** -->
    
    <div class="form-group">
        <label for="file">Image du produit</label>
        <input 
            formControlName="file"
            id="file" 
            type="file" 
            class="form-control"
            (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <!-- <div *ngIf="f.file.errors.required">File is required.</div> -->
        </div>
    </div>
    
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:300px">
        
    <button class="btn btn-danger mt-4" type="submit">Ajouter</button>
</form>
</div> 