<div class="card mb-3 d-flex " style="width:300px ;">
    <div class="row g-0">
        <div class="col-md-4 border border-2 border-danger d-flex justify-content-center">
            <img src="{{'data:image/jpg;base64,'+produit.produit.image}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{produit.produit.nomProduit}}</h5>
                <p class="card-text fw-bold">Prix: <span>{{produit.produit.prix}}</span></p>
                <!-- <p class="card-text fw-bold">Prix: <span>AZEE</span></p> -->
            </div>
        </div>
    </div>
</div>