<table class="table">
    <thead>
        <tr>
            <th scope="col">N°</th>
            <th scope="col">Date commande</th>
            <th scope="col">N° Commande</th>
            <th scope="col">Zone</th>
            <th scope="col">Etat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{commande.dateCmd}}</td>
            <td>{{commande.numCmd}}</td>
            <td>{{commande.zone.nomZone}}</td>
            <td>{{commande.etatCmd}}</td>


        </tr>
    </tbody>
</table>