<!-- <p class="text-center fs-3">Recaputilatif de mon panier</p> -->
<div class="row  m-3">
    <div  class="col-5 ">
        <p class="cadre fw-bold">Produits</p>
        
        <p class="cadre fw-bold">Livraison</p>
       
        <p class="cadre fw-bold">Total</p>
        
    </div>
    
    <div class="col-5">
        <p  class="fw-bold">{{totalCommande}} <span class="m-2">F CFA</span></p>
        
        <p class="fw-bold">{{prixLivraison}}<span class="m-2">F CFA</span></p>
       
        <p class="fw-bold">{{apayer}}<span class="m-2">F CFA</span></p>

    </div>
</div>