.headerPanier {
    height: 10vh;
    border: 2px solid red;
    margin: 2em;
}

.produitCommander {
    height: 65vh;
    /* border: 2px solid rgb(17, 28, 17); */
    margin: 2em;
    display: flex;
    justify-content: space-around;
}

.listProduit {
    border: 2px solid rgb(23, 15, 14);
    width: 50vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.livraison {
    /* border: 2px solid tomato; */
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prixCmd {
    border: 2px solid saddlebrown;
    height: 25vh;
}

.modeLivraison {
    border: 2px solid rgb(19, 23, 139);
    height: 20vh;
}

.complement {
    height: 10vh;
    /* border: 2px solid red; */
    margin: 2em;
    display: flex;
    justify-content: space-between;
}

.boissons {
    height: 10vh;
    width: 40vw;
}

.frites {
    height: 10vh;
    width: 40vw;
}