<div class=" mx-5 m-2 ">
    <nav class="navbar bg-warning">
        <form class="container-fluid justify-content-start ">
            <!-- <button class="btn btn-outline-success me-2" type="button">Main button</button> -->
            <button class="btn btn-sm btn-outline-secondary m-2" type="button">Burger viande mouton</button>
            <button class="btn btn-sm btn-outline-secondary m-2" type="button">Burger Poulet</button>
            <button class="btn btn-sm btn-outline-secondary m-2" type="button">Burger foi</button>
            <button class="btn btn-sm btn-outline-secondary m-2" type="button">Smaller button</button>

        </form>
    </nav>
</div>