.filtreCatalogie {
    border: 2px solid rgb(27, 18, 36);
}

.hauteur {
    background-color: aqua;
    height: 40vh;
}
.accueil{
    position: absolute;
    /* transform: translate(50,50); */
    background-color: white;
}