<div class="row mx-2 ">
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 ">
        <!-- Image -->
        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
          <button><img src="{{ 'data:image/jpg;base64,' + boissonComplent.image }}" height="90" width="92" alt="Blue Jeans Jacket" /></button> 
        </div>
        <!-- Image -->
    </div>

    <!-- <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
      
        <p><strong>{{boissonComplent.nomProduit}}</strong></p>
        <strong>{{boissonComplent.prix}} <span>Fcfa</span> </strong>
    </div> -->

    <!-- <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"> -->
        <!-- Quantity -->
        <!-- <div class="d-flex mb-4" style="max-width: 300px">
            <button type="button" id="btnG" >-</button>
            <div class="form-outline">
                <input #input class="compteur text-center"  readonly type="text" />
                <label class="form-label" for="form1">Quantité</label>
            </div>
            <button id="btnD" >+</button>

        </div> -->
    <!-- </div> -->
</div>



  
  