<div class="container-fluid bg-info p-4">
    <div class="row bg-secondary mt-4 p-4 mx-5">
        <h5>Parti1</h5>
    </div>
    <div class="row justify-content-around  mx-5 mt-4 bg-secondary p-5 ">
        <div class="col-3 h-50 bg-white">
            <div class="m-3 bg-black">Nom produit</div>
            <div class="mt-3 bg-primary ">Nom produit</div>
        </div>
        <div class="col-4 h-50"><img src="/assets/menu.jpeg" alt=""></div>
        <div class="col-3 h-50 bg-white py-2">
            <app-form-recuperation></app-form-recuperation>
        </div>
    </div>
    <div class="row mx-5 mt-4 h-auto py-2 bg-secondary">
        <h5>Parti 3</h5>
    </div>
    <div class="row accordion-body mx-5 mt-4 bg-secondary py-5">
        <h5>Parti 4</h5>
    </div>
</div>