<div class="container-fluid  py-5  cadreDetail">
    <div class="row bg-white mt-1 p-2 mx-5 text-center">
        <div class="col-3"><img src="/assets/menu.jpeg" height="60" alt=""></div>
        <div class="col-5 fw-bold fs-5">BRASILE BURGER</div>
        <div class="col-3">
            <button *ngIf="detailProduit.menuBurgers" [disabled]="!siOk" class="btn float-end"><i class="fa-solid fa-cart-shopping fs-4 panier  mx-3 "  (click)="ajouter(detailProduit)"></i></button>
        </div>
    </div>

    <div class="bg-warning h-auto my-3 mx-3  d-flex justify-content-around">
        <div class="">
            <div class="my-2 haut1 bg-white  ">
                <div class="h-75 m-2 ">
                    <img src="{{'data:image/jpg;base64,'+detailProduit.image}}" width="350" alt="">
                </div>
                <div class="  m-2">
                    <p class="fw-bold">Nom <span>:</span> {{detailProduit.nomProduit}}</p>
                    <p class="fw-bold">Prix: <span class="mx-2">{{detailProduit.prix}}</span><span>F Cfa</span></p>
                </div>
            </div>
            <div class="h-25 bg-dark text-white circule">
                azerty
            </div>
        </div>

        <div *ngIf="detailProduit.menuBurgers" class=" my-2 bg-white haut largeur d-flex flex-column justify-content-around">

            <div class="  border border-1 border-dark  h-25 mx-2">
                <app-burger *ngFor="let burger of burgers" [burgerMenu]="burger"></app-burger>
            </div>
            <div class="  border border-1 border-dark  h-25 mx-2">
                <app-frite-menu *ngFor="let frite of frites" [fritesMenu]="frite"></app-frite-menu>
            </div>
            <div class=" border border-1 border-dark   h-25  mx-2 d-flex   lesBoisson">
                <app-boisson *ngFor="let boisson of boissons" [mesBoissons]="boisson" class="d-inline-block"></app-boisson>

            </div>
        </div>


    </div>

</div>
<!-- <div class="row bg-white mt-4 p-2 mx-5 text-center">
        <h4>Voulez-vous ajouter des complements</h4>
    </div>
    <div class="row accordion-body mx-5 mt-4 bg-white py-4 d-flex justify-content-around">
        <div class="col-5  border border-warning complement">Boissons complement</div>
        <div class="col-5  border border-warning float-end  complement">Portion frites complement</div>
    </div>
</div> -->