.detailProduit {
    height: 55vh;
    background-color: rgb(203, 195, 32);
}

.cadreDetail {
    height: 80vh;
    background-color: rgb(29, 29, 4);
    /* padding-bottom: 10em; */
}

.largeur {
    width: 60vw;
}

.haut {
    height: 60vh;
}

.haut1 {
    height: 40vh;
    width: 20vw;
}


/* ************************************** */

.lesBoisson {
    /* overflow-y: auto; */
    overflow-x: auto;
    /* display: flex; */
}