<div class="d-flex  parent">
<div class="d-flex  zoneLiv">
<div class="">
    <div class="bg-dark titrezone p-3">
    <h3>LES ZONES A LIVRER</h3>
    </div>
    <!-- <p *ngFor="let zone of nosZones">{{zone.nomZone}}</p> -->
    <app-zones></app-zones>
    </div>

</div>

<div class="comd">
    <div class="bg-dark w-100 text-center py-3 d-flex boutonLiv">
        <h3 class="titre">CHOISISSEZ LES COMMANDES A LIVRER</h3>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal"  type="button" class="btn btn-danger ">Choisir un livreur</button>

    </div>
  
    <!-- <app-gerer-livraison></app-gerer-livraison> -->
les commandes a livrer
    </div>


</div>



